body{
   font-family: Arial, Helvetica, sans-serif;
}
.header-section{
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: space-between;

}
.middle-section{
   display: flex;
   align-items: center;
}
.lock{
  margin-right: 15px;
}
.back-to-home{
   height: 51px;
   width: 117px;
   background-repeat: no-repeat;
   background-attachment: cover;
   margin-left: 20px;
   border: none;
   border-radius: 5px;
   align-items: center;
   padding-top: 10px;
  
}
.back-to-home:hover{
   border: 1px solid rgb(179, 179, 179);
}
.check-text{
   display: inline-block;
   font-weight: bold;
   font-size: 22px;
}
h2{
   margin-left: 20px;
}
.container{
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 10px;

}
.order-detail{
   border: 1px solid  rgb(205, 204, 204);
   width: 700px;
   height: 300px;
   margin-left: 20px;
   border-radius: 5px;
   display: flex;
   position: relative;
   padding-top: 50px;
   margin-bottom: 15px;
}
.product{
   width: 192px;
   justify-content: center;
   vertical-align: auto;
}
.product-detail{
  
   width: 250px;
}
.delivery-option{
   width: 245px;
   align-items: center;
   justify-items: center;
 
}

.div-delivery{
   position: absolute;
   top: 0px;
   left: 10px;
 
}
.delivery-text{
   font-size: 17px;
   font-weight: bold;
   color: rgb(14, 180, 14);
}
.id{
   margin-top: 1px;
   margin-left: 20px;
   margin-top: -15px;
   color: rgb(0, 121, 0);
   font-weight: bold;
}
.id-input{
   display: inline-block;
   
}
.product-name, .choose{
   font-weight: bold;
   margin-left: 20px;
}
.price{
   margin-left: 20px;
   color: darkred;
   font-weight: bold;
}
.quantity{
   display: inline-block;
   margin-left: 20px;
   font-weight: bold;
   margin-right: 15px;
}
.shipping{
   margin-top: 1px;
   margin-left: 20px;
   margin-top: -15px;
   color: rgb(117, 117, 117);
   font-size: 13px;
}
.order-summary{
   border: 1px solid rgb(205, 204, 204);
   height: 350px;
   width: 500px;
   margin-left: 20px;
   border-radius: 5px;
   margin-right: 20px;
   display:grid;
   
}
.order{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-left: 15px;
   margin-right: 15px;
   margin-top: 0px;
   margin-bottom: 0px;
}
.summary{
   text-align: center;
   color: rgb(23, 16, 16);
   font-weight: bold;
}
.text{
   margin-top: 0px;
   margin-bottom: 0px;
   font-family: arial;
   font-size: 15px;
   color: rgb(123, 117, 117);
   font-weight: bold;

}
.order-total{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-left: 15px;
   border-top: 1px solid rgb(215, 198, 198);
   margin-right: 15px;
   
}
.order-button{
   width: 350px;
   height: 35px;
   font-weight: bold;
   font-size: 18px;
   border-radius: 5px;
   border: none;
   background-color: rgb(254, 254, 77);
   transition-duration: 0.3s;
   margin-left: 80px;
}
.order-button:hover{
   background-color: rgb(224, 224, 60);
}
.div-order{
   align-content: center;
}
.order-button:active{
  background-color:  rgb(244, 244, 132);
}
.delete-link,.update-link{
   cursor:pointer;
   display: inline-block;
   color: rgb(10, 198, 219); 
   font-weight: bold;
}
.delete-link:hover{
   color: rgb(91, 17, 18);
  
}
.update-link:hover{
   color: rgb(91, 17, 18);
  
}
.check-text{
   color: rgb(30, 34, 34);
   
}
.checkout-text{
   color:rgb(10, 198, 219);
}